/**
 * Layout
 */
 *, *:hover, *:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
 
.btn.btn-yellow {
    background-color: #fbd708;
    border-radius: 0;
    border: none;
    font-size: 1.3rem;
    color: #000000;
     
    -webkit-transition: all .3s;
    transition: all .3s;
}
.btn.btn-yellow:hover {
    background-color: #e82208;
    color: #FFFFFF;
}
 
/**
 * Header
 */
 
.main-header {
    background-color: rgba(0, 0, 0, 0.6);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
}
 
 
 
/**
 * Footer
 */
 
.googlemap, .contact {
    background-color: #333333;
    color: #FFFFFF;
}
.googlemap-content {
    top: -80px;
    height: 380px !important;
    width: 100% !important;
    position: relative;
    overflow: hidden;
}
.googlemap iframe {
    position: absolute;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
}
.copyright {
    background-color: #ffffff;
}
 
 
 
/**
 * Content
 */
 
/* sections */
section {
    margin-bottom: 80px;
}
section:last-child {
    margin-bottom: 160px;
}
 
/* sections header */
.section-header {
    text-align: center;
}
.section-header .lead {
    color: #797979;
}
.section-title {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    text-transform: uppercase;
 
    display: inline-block;
    border-bottom: 3px solid #fbd708;
}
.section-title::after {
    content: "";
    clear: both;
    display: block;
}
 
/* cards */
.card {
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card-title {
    text-align: center;
}
.card-text {
    text-align: justify;
}
.card .btn.btn-yellow {
    color: #FFFFFF;
}
/* 
.card .btn {
    background-color: #e82208;
    border-radius: 0;
    border: none;
    font-size: 1.3rem;
     
    -webkit-transition: all .3s;
    transition: all .3s;
}
.card .btn:hover {
    background-color: #fbd708;
} */
 
 
 
/**
 * Content Pages
 */
 
.featured {
    background-image: url(./../images/pizza-show-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}
 
.jumbotron {
    top: 205px;
    position: relative;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}
.jumbotron .lead {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 400;
    letter-spacing: 2px;
}
.jumbotron .btn {
    font-size: 90%;
}